dumps/
images/
**/build/

lcd/
custom-routes/
ir-linux/

decomp
extract
help
colour-sprites/decode
original-sprites/__pycache__/
original-sprites/Pokemon DPPt.ttf
original-sprites/out/
original-sprites/*.bmp
original-sprites/*.bin
